# CMake files
CMakeFiles
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

# Docs
*.bz2

#Backup
*~

# Build stuff
*.cxx
*.qm
ui_*.h
*.so
*.rcc

# AQEMU binary
aqemu

# IDE Files
AQEMU.pro
AQEMU.cbp
AQEMU.kdevelop
AQEMU.kdevelop.filelist
AQEMU.kdevelop.pcs
AQEMU.kdevses
.kdbgrc.aqemu
Doxyfile

